.footer {
  padding: 2rem 1rem;
  background-color: $color-tertiary;

  &__input-wrapper {
    padding: 1rem 0;
    display: flex;
    justify-content: center;
  }

  &__input {
    padding: 0 1rem;
    border: 0;
    border-radius: $default-border-radius;
    margin: 0 1rem 0 0;
  }

  .links {
    margin: auto;
    max-width: 75%;
    display: flex;
    justify-content: space-between;
    .links-col {
      &__list {
        list-style: none;
        padding: 0;
      }

      &__item {
        padding: 0.25rem 0;
      }

      &__link {
        color: $primary-color-tint;
        text-decoration: none;
      }
    }
  }

  .attribution {
    max-width: 75%;
    margin: auto;
    text-align: center;
    color: $primary-color-tint;
    &__author {
      text-decoration: none;
      color: $primary-color;
      font-weight: $font-medium;
    }
  }

  &__logo {
    display: block;
    margin: 3rem auto 2rem auto;
  }
}

.socials {
  margin: 2rem 0;
  display: flex;
  justify-content: space-around;

  @include mQ(map-get($breakpoints, lg)) {
    margin: 2rem auto;
    max-width: 75%;
  }

  &__item {
    width: 30px;
    height: 30px;
  }
}
