@import "./normalize.scss";
@import "./variables.scss";
@import "./mixins.scss";
@import "./header.scss";
@import "./navigation.scss";
@import "./feature.scss";
@import "./testimonials.scss";
@import "./footer.scss";

body {
  font-family: $main-font;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  @include mQ(map-get($breakpoints, xs)){
    max-width: 80%;
  }
}

.error-message {
  background-color: $color-error-bg;
  color: $color-error-text;
  border-radius: $default-border-radius;
  padding: 0.25rem 1rem;
  animation-duration: 0.25s;
}

.btn {
  display: block;
  border: 0;
  color: #fff;
  background: $primary-color;
  font-size: 0.9rem;
  font-weight: $font-bold;
  border-radius: 50px;
  padding: 0.75rem 2rem;
  box-shadow: $default-shadow;

  &:hover {
    background: $color-primary-500;
  }

  &--centered {
    margin: 2rem auto;
  }

  &--secondary {
    background: #ffffff;
    color: $primary-color;
  }
}

.get-started {
  background: linear-gradient( $primary-color 100%, rgba(0, 0, 0, 0.5)100%), url('/backgrounds/bg-tablet-pattern.svg');
  @include mQ(map-get($breakpoints, xs)) {
    display: flex;
    align-items: center;
  }
  padding: 2rem;
  &__title {
    font-size: 2.35rem;
    text-align: center;
    font-weight: $font-bold;
    color: #ffffff;
    @include mQ(map-get($breakpoints, xs)){
      max-width: 70%;
      text-align: left;
      margin: 1rem auto;
    }
  }
}

.main-content {
  margin: 2rem 0 0 0;
  @include mQ(map-get($breakpoints, lg)) {
    margin: 10rem 0 0 0;
  }
}
