$primary-color: hsl(12, 88%, 59%);
$primary-color-tint: hsl(13, 100%, 96%);
$primary-color-dark: hsl(228, 39%, 23%);
$text-color: hsl(233, 12%, 37%);
$secondary-color: hsl(227, 12%, 61%);
$trietiary-color: hsl(233, 12%, 13%);

$main-font: 'Be Vietnam', sans-serif;
$font-medium: 500;
$font-bold: 700;

$default-border-radius: 25px;
