$color-primary: hsl(12, 88%, 59%);
$color-primary-200: hsl(13, 100%, 96%);
$color-primary-500: hsl(12, 88%, 69%);
$color-secondary: hsl(227, 12%, 61%);
$color-tertiary: hsl(233, 12%, 13%);
$color-dark: hsl(228, 39%, 23%);
$color-text: hsl(233, 12%, 37%);
$color-white: hsl(0,0%,100%);
$color-gray-100: hsl(0, 0%, 98%);

$primary-color: hsl(12, 88%, 59%);
$primary-color-tint: hsl(13, 100%, 96%);
$primary-color-dark: hsl(228, 39%, 23%);
$text-color: hsl(233, 12%, 37%);
$secondary-color: hsl(227, 12%, 61%);
$trietiary-color: hsl(233, 12%, 13%);

$main-font: 'Be Vietnam', sans-serif;
$font-medium: 500;
$font-bold: 700;

$default-border-radius: 25px;
$button-border-radius: 50px;
$default-shadow: 0 3px 10px rgba(242, 95, 58, 0.51);

$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px
);
